{% extends 'base.html' %}

{% block content %}
<!-- {% include "partials/_header_internal.html" %} -->
<!-- <div class="ftco-blocks-cover-1">
    <div class="ftco-cover-1 innerpage overlay" style="background-image: url('images/hero_2.jpg')">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <span class="d-block mb-3 text-white" data-aos="fade-up">July 17, 2019 <span
                            class="mx-2 text-primary">&bullet;</span> by James Miller</span>
                    <h1 class="mb-4" data-aos="fade-up" data-aos-delay="100">Single Blog Posts Title</h1>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="site-section">
    <div class="container">
        <div class="row">
            {% include 'partials/_alerts.html' %}
            <div class="col-md-12 blog-content d-flex">
                <div class="col-8">
                    <div class="item-1">
                        <a href="#"><img src="{{ car.photo_main.url }}" alt="{{car.model}}"
                                class="carlist mx-auto d-block"></a>
                        <div class="item-1-contents">
                            <div class="text-center">
                                <h3><a href="#">{{car.vendor}} {{car.model}}</a></h3>
                                <div class="rating">
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                    <span class="icon-star text-warning"></span>
                                </div>
                                <div class="rent-price"><span>{{car.price}}/</span>day</div>
                            </div>
                            <ul class="specs">
                                <li>
                                    <span>Doors</span>
                                    <span class="spec">{{car.doors}}</span>
                                </li>
                                <li>
                                    <span>Seats</span>
                                    <span class="spec">{{car.seats}}</span>
                                </li>
                                <li>
                                    <span>Transmission</span>
                                    <span class="spec">{{car.transmission}}</span>
                                </li>
                                <li>
                                    <span>Minium age</span>
                                    <span class="spec">{{car.minimum_age}} years</span>
                                </li>
                                <li>
                                    <span>Engine</span>
                                    <span class="spec">{{car.engine}}</span>
                                </li>
                                <li>
                                    <span>Fuel count</span>
                                    <span class="spec">{{car.fuel_count}}</span>
                                </li>
                                <li>
                                    <span>Color</span>
                                    <span class="spec">{{car.color}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <form action="{% url 'contact' %}" method="POST">
                        {% csrf_token %}
                        {% if user.is_authenticated %}
                        <input type="hidden" name="user_id" value="{{ user.id }}" />
                        {% else %}
                        <input type="hidden" name="user_id" value="0" />
                        {% endif %}
                        <input type="hidden" name="car_id" value="{{ car.id }}" />
                        <input type="hidden" name="car_name" value="{{ car.model}}" />
                        <input type="hidden" name="car_manager" value="{{ car.carmanager }}" />
                        <input type="hidden" name="manager_email" value="{{ car.carmanager.email }}" />
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control" {% if user.is_authenticated %}
                                value="{{user.first_name}}" {% endif %} required>
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" name="phone" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Email address</label>
                            <input type="email" name="email" class="form-control" {% if user.is_authenticated %}
                                value="{{user.email}}" {% endif %} required>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Example textarea</label>
                            <textarea class="form-control" name="text" id="exampleFormControlTextarea1"
                                rows="3"></textarea>
                        </div>
                        <div class="d-flex action">
                            <button type="submit" class="btn btn-primary">Rent Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}